body {
  font-family: $font-family-sans-serif;
  background-color: $body-bg;
  font-size: 16px;
  color: $body-color;
  box-sizing: border-box;
}

body.no-scroll {
  overflow: hidden;
}

*, *::before, *::after {
  box-sizing: inherit;
}

a {
  text-decoration: inherit;
  color: inherit;

  &:focus {
    outline: none;
  }
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

button, input[type="button"], input[type="submit"] {
  background-color: $primary;
  border: none;
  box-shadow: 0 0 20px rgba(0,0,0,0.20);
  color: inherit;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}