$primary: #616CE7;

$body-color: #ffffff;
$body-light-color: #999999;
$body-bg: #222036;

$body-light-theme-color: #0C1929;
$body-light-theme-bg: #ffffff;

$font-family-sans-serif: 'Poppins', sans-serif;
$font-family-serif: 'Buenard', serif;

$breakpoint: 576px;

$breakpoints: (
  mobile: 576px,
  tablet: 992px
);
