@use "sass:color";

@use "../abstracts/variables" as variables;
@use "../abstracts/mixins" as mixins;

section.choice {
  padding-top: 6rem;
  padding-bottom: 6rem;
  position: relative;
  background-color: variables.$body-light-theme-bg;
  color: variables.$body-light-theme-color;

  @include mixins.tablet-only {
    background-position-y: -340px;
  }

  > .image-container {
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

    @include mixins.mobile-tablet-only {
      width: 100%;
      height: 45%;
    }

    .background-image {
      width: 100%;
      height: 100%;
      background-image: url("../../images/erol-ahmed-d3pTF3r_hwY-unsplash.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
    }
  }

  button.cta {
    margin: 2rem 0;
    padding: 1.75rem 6rem;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1955;
    white-space: nowrap;
    font-size: 0.9rem;
    color: variables.$body-color;
    transition: background-color 200ms ease;

    @include mixins.tablet-only {
      margin: 1rem;
      position: initial;
    }

    @include mixins.mobile-only {
      margin: 1rem auto;
      position: initial;
      display: block;
    }

    &:focus {
      background-color: color.adjust(variables.$primary, $lightness: -2.5%);
    }

    &:hover {
      background-color: color.adjust(variables.$primary, $lightness: -5%);
    }
  }

  .container {
    margin: 0 auto;
    padding: 1rem 1.25rem;
    max-width: 1200px;
    height: 100%;
    display: flex;
    align-items: flex-start;
    position: relative;
    z-index: 2;

    @include mixins.mobile-tablet-only {
      flex-wrap: wrap;
    }

    .image-container {
      margin: 0 10rem 0 auto;
      width: 340px;
      height: 477px;
      border: 10px solid #ffffff;

      @include mixins.mobile-tablet-only {
        margin: 0 auto 3rem;
      }

      .background-image {
        width: 100%;
        height: 100%;
        overflow: hidden;
        position: relative;

        &:hover,
        &:focus {
          &:after {
            transform: scale(1.2);
          }
        }

        &:after {
          content: "";
          position: absolute;
          top: 0;
          bottom: 0;
          right: 0;
          left: 0;
          background-image: url("../../images/kalen-emsley-Bkci_8qcdvQ-unsplash.jpg");
          background-size: cover;
          background-position: center center;
          background-repeat: no-repeat;
          transition: transform 500ms;
          will-change: transform;
        }
      }
    }

    .choice-title {
      width: 100%;
      flex: 0 0 30%;

      @include mixins.desktop-only {
        padding-right: 0.5rem;
      }

      @include mixins.mobile-tablet-only {
        flex: 1 0 100%;
      }

      p.category {
        @include mixins.mobile-only {
          text-align: center;
        }

        a.category-link {
          padding-bottom: 0.25rem;
          border-bottom: 2px solid variables.$primary;
          font-size: 1rem;
          font-weight: 600;
          color: variables.$primary;

          @include mixins.mobile-only {
            font-size: 0.9rem;
          }
        }
      }

      h2.title {
        font-family: variables.$font-family-serif;
        font-size: 3.4rem;
        font-weight: 700;
        line-height: 3.4rem;

        @include mixins.mobile-only {
          font-size: 3rem;
          text-align: center;
        }
      }

      p.excerpt {
        margin-bottom: 2rem;
        max-width: 80%;
        font-size: 1rem;
        line-height: 1.75rem;
        color: #6e6e6e;

        @include mixins.tablet-only {
          padding-right: 7rem;
        }

        @include mixins.mobile-only {
          margin: 0 auto 2rem;
          padding-right: 0;
          font-size: 0.9rem;
          text-align: center;
        }
      }

      p.emphasis {
        font-size: 1rem;
        font-weight: 500;
        text-shadow: 0 0 2px rgba(0, 0, 0, 0.1);

        @include mixins.mobile-only {
          font-size: 0.9rem;
          text-align: center;
        }
      }
    }
  }
}
