#app {
  &::before {
    content: "";
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -1;
    opacity: 0;
    transition: opacity 500ms ease;
  }

  &.menu-is-open {
    &::before {
      z-index: 1950;
      opacity: 0.25;
      background-color: black;
    }

    nav.nav-menu {
      transform: translate3d(0, 0, 0);
    }
  }
}

header.app-header {
  margin: 0 auto;
  padding: 1.25rem 1rem;
  max-width: 1200px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #e4e4f0;

  @media (min-width: 576px) and (max-width: 991.98px) {
    padding: 0.75rem 1rem;
  }

  @media (max-width: 575.98px) {
    padding: 0.5rem;
  }

  a.nav-brand {
    .nav-brand-logo {
      padding: 1rem;
      display: inline-block;
      position: relative;
      font-size: 20px;
      font-weight: 600;

      .bubbles {
        width: 13px;
        height: 13px;
        display: inline-block;
        position: absolute;
        top: calc(50% - 10px);
        background-color: #deb026;
        border-radius: 50%;
        transform: translateY(-50%);

        &::before {
          content: "";
          position: absolute;
          top: 4px;
          right: calc(100% + 7px);
          width: 5px;
          height: 5px;
          background-color: #a61e4e;
          border-radius: inherit;
        }

        &::after {
          content: "";
          position: absolute;
          top: -2px;
          right: calc(100% + 2px);
          width: 3px;
          height: 3px;
          background-color: #5c54ca;
          border-radius: inherit;
        }
      }
    }
  }

  a.nav-toggle-open {
    width: 48px;
    height: 48px;
    display: none;
    position: relative;
    opacity: 0.75;
    transition: opacity 200ms ease;

    @media (max-width: 991.98px) {
      display: block;
    }

    &:hover {
      opacity: 1;
    }

    .bars {
      width: 32px;
      height: 2px;
      position: absolute;
      top: calc(24px - 2px);
      left: calc(32px - 24px);
      background-color: #ffffff;

      &::before,
      &::after {
        content: "";
        width: 32px;
        height: 2px;
        position: absolute;
        background-color: #ffffff;
      }

      &:before {
        transform: translateY(12px);
      }

      &:after {
        transform: translateY(-12px);
      }
    }
  }

  nav.nav-menu {
  
    @media (min-width: 576px) and (max-width: 991.98px) {
      padding: 0.75rem 1rem;
    }
  
    @media (max-width: 575.98px) {
      padding: 0.5rem;
    }

    @media (max-width: 991.98px) {
      width: 300px;
      max-width: 100vw;
      position: fixed;
      top: 0;
      bottom: 0;
      right: 0;
      z-index: 1950;
      background-color: $primary;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
      box-sizing: border-box;
      transform: translate3d(300px, 0, 0);
      transition: transform 500ms ease;

      &[aria-expanded="false"] {
        display: none;
      }

      &[aria-expanded="true"] {
        display: block;
      }
    }

    .nav-menu-header {
      margin-bottom: 0.5rem;
      display: flex;
      justify-content: flex-end;

      @media (min-width: 992px) {
        display: none;
      }

      a.nav-toggle-close {
        width: 48px;
        height: 48px;
        display: inline-block;
        position: relative;
        opacity: 0.75;
        transition: opacity 200ms ease;

        &:hover {
          opacity: 1;
        }

        .bars {
          width: 32px;
          height: 2px;
          position: absolute;
          top: calc(24px - 2px);
          left: calc(32px - 24px);
          background-color: transparent;

          &::before,
          &::after {
            content: "";
            width: 32px;
            height: 2px;
            position: absolute;
            background-color: #ffffff;
          }

          &:before {
            transform: rotate(45deg);
          }

          &:after {
            transform: rotate(-45deg);
          }
        }
      }
    }

    a.nav-link {
      transition: background-color 0.5s;

      @media (min-width: 992px) {
        margin: 0.5rem 0.25rem;
        padding: 0.75rem 1rem;
        font-size: 0.9rem;
        font-weight: 500;

        &:focus {
          background-color: darken($primary, 2.5);
          box-sizing: 0 0 20ps rgba(0,0,0,0.25);
        }

        &:hover {
          background-color: $primary;
        }
      }

      @media (max-width: 991.98px) {
        margin-top: 1rem;
        margin-bottom: 1rem;
        padding: 1rem;
        display: block;

        &:focus {
          background-color: darken($primary, 2.5);
        }

        &:hover {
          background-color: darken($primary, 5);
        }
      }
    }
  }
}
