section.highlights {
  padding-top: 13rem;
  padding-bottom: 13rem;
  min-height: 100vh;
  background-color: $body-light-theme-bg;
  color: $body-light-theme-color;

  @include tablet-only {
    padding-top: 8rem;
    padding-bottom: 8rem;
  }
  @include mobile-only {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }

  .container {
    margin: 0 auto;
    padding: 1rem 1.25rem;
    max-width: 1200px;
    height: 100%;
    display: flex;

    @include tablet-only {
      flex-wrap: wrap;
    }

    @include mobile-only {
      flex-wrap: wrap;
    }
  }

  .highlights-title {
    width: 100%;
    flex: 0 0 35%;
    align-self: flex-end;

    @include desktop-only {
      padding-right: 0.5rem;
    }

    @include tablet-only {
      flex: 1 0 100%;
    }

    @include mobile-only {
      flex: 1 0 100%;
    }

    p.category {
      @include mobile-only {
        text-align: center;
      }

      a.category-link {
        padding-bottom: 0.25rem;
        border-bottom: 2px solid $primary;
        font-size: 1rem;
        font-weight: 600;
        color: $primary;

        @include mobile-only {
          font-size: 0.9rem;
        }
      }
    }

    h2.title {
      font-family: $font-family-serif;
      font-size: 3.4rem;
      font-weight: 700;
      line-height: 3.4rem;

      @include mobile-only {
        font-size: 3rem;
        text-align: center;
      }
    }

    p.excerpt {
      margin-bottom: 2rem;
      max-width: 80%;
      font-size: 1rem;
      line-height: 1.75rem;
      color: #6e6e6e;

      @include tablet-only {
        padding-right: 7rem;
      }

      @include mobile-only {
        margin: 0 auto 2rem;
        padding-right: 0;
        font-size: 0.9rem;
        text-align: center;
      }
    }

    p.emphasis {
      font-size: 1rem;
      font-weight: 500;
      text-shadow: 0 0 2px rgba(0, 0, 0, 0.1);

      @include mobile-only {
        font-size: 0.9rem;
        text-align: center;
      }
    }

    ul.tags {
      display: flex;

      @include mobile-only {
        justify-content: center;
      }

      li.tag {
        margin-top: 1rem;
        margin-right: 3.5rem;
        margin-bottom: 3.5rem;
        color: #999999;

        @include mobile-only {
          margin-right: 1.5rem;
          margin-left: 1.5rem;
          margin-bottom: 1rem;
          font-size: 0.9rem;
        }

        .creativity,
        .ideas {
          margin-bottom: 1.25rem;
          width: 36px;
          height: 36px;
          display: block;
          background-repeat: no-repeat;
          background-size: contain;
        }

        .creativity {
          background-image: url("../icons/pencil-holder.svg");
        }

        .ideas {
          background-image: url("../icons/idea.svg");
        }
      }
    }
  }

  .highlights-images {
    width: 100%;
    flex: 0 0 65%;
    align-self: stretch;
    display: flex;

    @include tablet-only {
      flex: 1 0 100%;
    }

    @include mobile-only {
      flex: 1 0 100%;
      flex-direction: column;
    }

    .block-left {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;

      @include mobile-only {
        flex: 1 0 500px;
      }

      .legend {
        margin: 2rem 3rem 2rem 0;
        padding-left: 1rem;
        border-left: 2px solid $body-light-theme-color;
        font-size: 1rem;
        font-weight: 300;
        line-height: 1.75rem;
        text-shadow: 0 0 2px rgba(0, 0, 0, 0.1);

        @include mobile-only {
          font-size: 0.9rem;
        }
      }

      .image-container {
        width: 100%;
        height: 100%;
        flex: 1;
        overflow: hidden;

        .background-image {
          width: 100%;
          height: 100%;
          background-image: url("../images/didin-emelu-8--kuxbxuKU-unsplash.jpg");
          background-size: cover;
          background-position: center center;
          background-repeat: no-repeat;
          transition: transform 500ms;
          will-change: transform;

          &:hover, &:focus {
            transform: scale(1.2);
          }
        }
      }
    }

    .block-right {
      width: 100%;
      height: 100%;
      position: relative;

      @include mobile-only {
        flex: 1 0 500px;
      }

      .text {
        padding: 1.75rem 2rem;
        position: absolute;
        right: 0;
        left: 0;
        bottom: 0;
        z-index: 1;
        background-color: rgba(255, 255, 255, 0.75);

        .title {
          font-size: 1.2rem;
          font-weight: 600;
          text-transform: uppercase;

          @include mobile-only {
            font-size: 1rem;
          }
        }

        .excerpt {
          font-size: 1rem;
          font-weight: 300;
          line-height: 1.25rem;

          @include mobile-only {
            font-size: 0.9rem;
          }
        }

        .emphasis {
          font-size: 1rem;
          font-weight: 500;
          text-shadow: 0 0 2px rgba(0, 0, 0, 0.1);

          @include mobile-only {
            font-size: 0.9rem;
          }
        }
      }
      .image-container {
        width: 100%;
        height: 700px;
        overflow: hidden;

        @include mobile-only {
          height: 100%;
        }

        .background-image {
          width: 100%;
          height: 700px;
          background-image: url("../images/etienne-boulanger-C5yfbvMWxC8-unsplash.jpg");
          background-size: cover;
          background-position: center center;
          background-repeat: no-repeat;
          transition: transform 500ms;
          will-change: transform;

          &:hover, &:focus {
            transform: scale(1.2);
          }
        }
      }
    }
  }
}
